.root{
    --fontRobot: 'Press Start 2P', cursive;
    --fontDisplay: 'Poiret One', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontDisplay);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    border: 20px;
    
    border-color: black;
}

.hide{
    display: none;
}
.wrapper{
    border: 5px;
    padding: 80px;
    border-style: solid;
    border-color: rgb(130, 107, 141);
    border-radius: 10%;
}